* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  margin: 1rem;
  background-color: brown;
  padding: 1rem;
}

.draggable {
  padding: 1rem;
  margin: 0.5rem;
  background-color: olive;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.btn {
  background-color: blanchedalmond;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 1rem;
  padding: 10px;
  border: none;
}

.btn:hover {
  background-color: olive;
  cursor: pointer;
}

.selected {
  margin: 1rem;
  background-color: brown;
  padding: 1rem;
}

h2 {
  background-color: brown;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  font-weight: 200;
  color: white;
}
